@model LoggedInModel

@{
    Layout = "_LoggedIn";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="alert-success text-center">Order skickad</h1>
            <h3>Tack! Vi har mottagit din order.</h3>
            <hr/>
            <h4>Ordernummer: @TempData["orderid"]</h4>
            <h4>Leveransadress: @TempData["adress"]</h4>
            <h4>Tid: @TempData["time"]</h4>
            <h4>Totalbelopp: @TempData["ordertotal"] Kr</h4>
            <h4>Rabatt: @TempData["discount"] Kr</h4>
            <hr/>
            <h3>Beräknad leverans: @TempData["delivery"]</h3>
            <a class="btn btn-primary" asp-controller="Customer" asp-action="ToIndex" asp-route-id="@Model.UserInfo.Id">Ok</a>
        </div>
    </div>
</div>