@model LoggedInModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TomasosPizzeria</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <link href="https://fonts.googleapis.com/css?family=Bilbo|Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="col-md-8">
                <a asp-controller="Customer" asp-action="ToIndex" asp-route-id="@Model.UserInfo.Id"><h1 class="tomasos-header">Tomasos Pizzeria</h1></a>
                <h2 class="tomasos-quote">Italienska pizzor bakade med kärlek</h2>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default main-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Customer" asp-action="ToIndex" asp-route-id="@Model.UserInfo.Id">Hem</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Account" asp-action="Logout">Logga ut</a></li>
                <li><a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.UserInfo.Id">Redigera profil</a></li>
            </ul>
            @if (User.IsInRole("PremiumUser"))
            {
                <span id="bonus" class="navbar-text pull-right" title="Gratis pizza vid 100 poäng">Bonus poäng: @Model.Customer.Bonus  -  Gratis pizzor: @Model.Customer.GratisPizza</span>
            }
            <!-- Trigger the modal with a button -->
            <a class="btn navbar-btn btn-default pull-right" data-toggle="modal" data-target="#shoppingCart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            <div class="navbar-text pull-right">
                @if (@Model.Cart != null)
                {
                    if (!@Model.Cart.Lines.Any())
                    {
                        @:Varukorgen är tom
                    }
                    else
                    {
                        @:Antal varor: @Model.Cart.Lines.Count()
                    }
                }
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div id="shoppingCart" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Varukorg</h3>
                    <h4 class="text-center">Klicka på krysset för att ta bort en vara</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        @if (@Model.Cart != null)
                        {
                            foreach (var line in @Model.Cart.Lines)
                            {
                                <tr>
                                    <td class="text-center">
                                        <form class="navbar-form" asp-controller="Cart" asp-action="RemoveFromCart" method="get">
                                            <input type="hidden" name="foodId" value="@line.Matratt.MatrattId" />
                                            <input type="hidden" name="customerId" value="@Model.UserInfo.Id" />
                                            <button type="submit" class="btn btn-xs navbar-btn"><i class="glyphicon glyphicon-remove"></i></button>
                                        </form>
                                    </td>
                                    <td id="food-cell">
                                        @line.Matratt.MatrattNamn
                                    </td>
                                    <td>Antal: @line.Quantity st</td>
                                    <td>
                                        @{
                                            var sum = line.Matratt.Pris * line.Quantity;
                                            @sum
                                        } Kr 
                                        <br/>
                                        @if (Model.Customer.GratisPizza > 0 && line.Matratt.MatrattTyp == 1 && Model.Cart.FreePizzaUsed != true)
                                        {
                                            <a asp-controller="Cart" asp-action="UseFreePizza" asp-route-userId="@Model.UserInfo.Id" asp-route-pizzaId="@line.Matratt.MatrattId" class="btn btn-primary">Använd gratis pizza bonus</a>
                                        }
                                    </td>

                                </tr>
                                                }
                                            }
                    </table>
                    <hr />
                    @{
                        if (@Model.Cart != null)
                        {
                            var orderTotal = @Model.Cart.ComputeTotalValue();
                            <h1 class="text-center">Ordertotal: @orderTotal Kr</h1>
                            if (@Model.Cart.FreePizzaUsed)
                            {
                                <h3 class="text-center">Du får en gratis pizza värd @Model.Cart.RemoveFromTotal Kr</h3>
                            }
                        }
                        else
                        {
                            <h1>Varukorgen är tom</h1>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <div class="input-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                        <a class="btn btn-primary" asp-controller="Cart" asp-action="CreateOrder" asp-route-id="@Model.Customer.KundId" method="post">
                            Skicka beställning
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - TomasosPizzeria</p>
            </footer>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
